@page "/Account/ResendEmailConfirmation"
@inject IAntiforgery Antiforgery

@using Microsoft.AspNetCore.Antiforgery;
@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using MovieMania.Data

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Resend email confirmation</PageTitle>

<StatusMessage Message="@message" />
<div class="container d-flex justify-content-center align-items-center vh-100" style="background-image: url('/images/bg.jpg'); max-width: 1910px; background-position: center;">
    <div class="row bg-black shadow rounded p-4" style="width:25%">
        <div class="col-md-4">
            <EditForm Model="Input" FormName="resend-email-confirmation" OnValidSubmit="OnValidSubmitAsync" method="post" style="width:350%">
                <DataAnnotationsValidator />
                <div href="/" class="brand" style="text-decoration: none; margin-left: 35%;margin-bottom: 5%;">
                    <span style="color:white; font-size:1.5rem;">Movie</span>
                    <span style="color:#0dcaf0; font-size:1rem;">Mania</span>
                </div>
                <h4 style="color:white;">Resend email confirmation</h4>
                <h5 style="color:white;">Enter your email.</h5>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                    <label for="email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <input type="hidden" name="__RequestVerificationToken" value="@Antiforgery.GetAndStoreTokens(HttpContext).RequestToken" />
                <button type="submit" class="w-100 btn btn-lg btn-primary" style="margin-bottom:4%;">Resend</button>
                <p>
                    <a style="margin-left: 41%;" href="@(NavigationManager.GetUriWithQueryParameters("Account/Login", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Sign In</a>
                </p>
            </EditForm>
        </div>
    </div>

</div>

@code {
    private string? message;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.FindByEmailAsync(Input.Email!);
        if (user is null)
        {
            message = "Verification email sent. Please check your email.";
            return;
        }

        var userId = await UserManager.GetUserIdAsync(user);
        var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
            new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code });
        await EmailSender.SendConfirmationLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        message = "Verification email sent. Please check your email.";
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";
    }
}
